.avatar {
    /* 3 rem que era definido mais 
    a soma dos lados da borda (4+4) 
    mais o outline(2+2)
    */
    width: calc(3rem + 12px);
    height: calc(3rem + 12px);
    border-radius: 8px;   
}

.avatarWithBorder {
    /* 3 rem que era definido mais 
    a soma dos lados da borda (4+4) 
    mais o outline(2+2)
    */
    width: calc(3rem + 12px);
    height: calc(3rem + 12px); 
    border-radius: 8px;   
    border: 4px solid var(--gray-800);
    outline: 2px solid var(--green-500);
}